/*Coded by: Jose Angel Rey
  Github: https://github.com/Jose-Angel-Rey
  Gmail: dev.joseangel.rey@gmail.com */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  // width: 100%;
  // height: auto;
  background-color: #e5eff5;
  font-family: Karla;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
