/*Coded by: Jose Angel Rey
  Github: https://github.com/Jose-Angel-Rey
  Gmail: dev.joseangel.rey@gmail.com */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $body-bg-color;
  font-family: $font-family;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}