// Card container styles
.card-container {
  width: 80%;
  max-width: 315px;
  font-size: 16px;
  margin: 10vh auto 5vh auto;
  box-shadow: 3px 2px 10px rgba(53, 53, 53, 0.2);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

// Join section styles
.card-join-section {
  width: 100%;
  padding: 25px;

  &#{__title} {
    font-size: 18px;
    color: $join-section-title-color;
    font-weight: 700;
  }
  &#{__sub-title} {
    width: 90%;
    font-size: 16px;
    color: $join-section-sub-title-color;
    font-weight: 700;
    margin: 25px auto 25px 0px;
  }
  &#{__content} {
    color: $join-section-content-color;
    line-height: 25px;
    font-size: 14px;
  }
}

// Subscription section
.card-subscription-section {
  @extend .card-join-section;
  background-color: $subscription-section-bg-color;
  color: #fff;

  &#{__title} {
    @extend .card-join-section__title;
    color: #fff;
  }

  &#{__value} {
    font-size: 30px;
    margin: 20px 0px 10px;
    display: flex;
    align-items: center;

    span {
      font: {
        size: 14px;
        weight: 500;
      }
      margin-left: 10px;
      color: $subscription-section-price-color;
    }
  }

  &#{__info} {
    font: {
      size: 14px;
      weight: 400;
    }
    margin-bottom: 20px;
  }

  &#{__sign-up-btn} {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #fff;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
    font: {
      weight: 700;
      family: $font-family;
      size: 15px;
    }
    background-color: $subscription-section-btn-bg-color;
  }
}

// Why Us section
.card-why-us-section {
  @extend .card-join-section;
  background-color: $why-us-section-bg-color;
  border-radius: 0 0 10px 10px;

  &#{__title} {
    @extend .card-subscription-section__title;
    margin-bottom: 15px;
  }
  &#{__content} {
    width: 80%;
    font: {
      size: 14px;
      weight: 400;
    }
    line-height: 22px;
    color: $why-us-section-content-color;
  }
}
