@media screen and (min-width: 768px) {
  .card-container {
    max-width: 575px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-join-section {
    grid-column: 1 / -1;
    padding: 35px;
    &#{__title} {
      font-size: 19px;
    }
    &#{__sub-title} {
      font-size: 17px;
      margin: 20px auto 15px 0px;
    }
    &#{__content} {
      font-size: 15px;
    }
  }
  .card-subscription-section {
    grid-column: 1 / 2;
    border-radius: 0 0 0 10px;
    height: 245px;
  }
  .card-why-us-section {
    grid-column: 2 / -1;
    height: 245px;
    border-radius: 0 0 10px 0;

    &#{__content} {
      font-size: 13px;
    }
  }
  .attribution {
    position: absolute;
    right: 0;
    transform: translate(-5vw, 5vh);
    top: 0;
    margin: 0;
  }
}
