// Project variables

// General variables
$font-family: 'Karla', sans-serif;
$body-bg-color: #e6eff6;

// Join section variables
$join-section-title-color: #2ab2af; 
$join-section-sub-title-color: #c0df34; 
$join-section-content-color: #98a6bd; 

// Subscription section variables
$subscription-section-bg-color: #2bb3b1; 
$subscription-section-btn-bg-color: #bfdf32; 
$subscription-section-price-color: hsla(214, 73%, 90%, 0.856); 

// Why Us section variables
$why-us-section-content-color: #e5eff5;
$why-us-section-bg-color: #4abebd;